<% @page_title = t('.title') %>
<div class="contents">
  <div class="wrapper clearfix">
    <div class="article">
      <div class="heading">
        <h1><%= @page_title %></h1>
      </div>
      <!--中身-->
      <div id="triathlon">
        <h2><%= t('.triathlon')%></h2>
        <p>トライアスロンは、Swim(水泳)、Bike(自転車)、Run(長距離走)をこの順に連続して行う競技です。</p>
        <div id="distance">
          <h3>トライアスロンの種類と距離</h3>
          <table>
            <thead>
              <tr><th>名称</th><td>Swim(km)</td><td>Bike(km)</td><td>Run(km)</td></tr>
            </thead>
            <tbody>
              <tr><td>スーパースプリント</td><td>0.4</td><td>10</td><td>2.5</td></tr>
              <tr><td>スプリントディスタンス</td><td>0.75</td><td>20</td><td>5.0</td></tr>
              <tr><td>ショートディスタンス</td><td>1.5</td><td>40</td><td>10</td></tr>
              <tr><td>ミドルディスタンス</td><td>2.5</td><td>80</td><td>20</td></tr>
              <tr><td>ロングディスタンス</td><td>4.0</td><td>120</td><td>30</td></tr>
              <tr><td>アイアンマンディスタンス</td><td>3.8</td><td>180</td><td>42.195</td></tr>
            </tbody>
          </table>
          <p>
            この中でも、特に「ショートディスタンス」に関しては、「オリンピックディスタンス」とも呼ばれ、2000年のシドニー五輪からオリンピックの正式種目になり、現在、
            日本選手権や日本学生選手権(通称：インカレ)、またそれらの予選もこの距離で行われています。
            部員の多くが、この規格での大会に参加します。
          </p>
          <p>
            他にも、スプリントディスタンスの学生大会もありますし、ミドル・ロング・アイアンマンディスタンスの大会に参加する学生もいます。
          </p>
        </div>
      </div>
      <div id="tsukutora">
        <h2><%= t('.about_us') %></h2>
        <p>
          私たち、「つくトラ」は、筑波大学体育会トライアスロン部の部員及び、それをサポートしてくださる関係者の皆さんからなるトライアスロン団体です。
        </p>
        <div id="schedule">
            <h3>
              練習日程・活動環境
            </h3>
            <p>
              現在、私たちは基本的に週3日、5回の練習日程で活動しています。月によって異なりますが、練習時間・場所は概ね以下の通りです。<br>
                                  また、練習のない日も各自の疲労度や、目標に合わせて自主練に取り組んでいます。
            </p>
            <table>
                <thead>
                  <tr>
                    <th>曜日</th><th>月</th><th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th>土</th>
                    <th>日</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>練習時間</td>
                    <td>S 06:30~<br>R 18:30~</td>
                    <td></td>
                    <td>S 06:30~<br>R 18:30~</td>
                    <td></td>
                    <td></td>
                    <td>B 07:00~</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            <p>
              S…Swim　B…Bike　R…Run
            </p>
          </div>
          <div id="place">
            <h3>練習場所</h3>
            <ul>
              <li>Swim…学内屋内プール・屋外プール</li>
              <li>Bike…筑波山方面・霞ヶ浦等</li>
              <li>Run…陸上競技場・学内ループ・クロカンコース</li>
            </ul>
          </div>
          <div id="record">
            <h3>活動実績</h3>
            <table>
                <thead>
                    <tr>
                        <th>年度</th><th>出来事</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1989</th><td>「筑波大学トライアスロンクラブ」として活動開始</td>
                    </tr>
                    <tr>
                        <th>2006</th><td class="victory">【男子】関カレ団体優勝/個人優勝・インカレ団体優勝/個人4位</td>
                    </tr>
                    <tr>
                        <th>2008</th><td>【男子】インカレ個人4位</td>
                    </tr>
                    <tr>
                        <th>2009</th><td>【女子】関カレ団体3位・インカレ団体3位/個人3位</td>
                    </tr>
                    <tr>
                        <th>2010</th><td>「筑波大学体育会トライアスロン部」として部会昇格<br>
                        【男子】関カレ団体6位<br>
                        【女子】関カレ団体準優勝/個人4位・インカレ個人4位</td>
                    </tr>
                    <tr>
                        <th>2011</th><td>【男子】関カレ団体6位/個人5位<br>【女子】関カレ個人準優勝</td>
                    </tr>
                    <tr>
                        <th>2012</th><td>【女子】関カレ個人準優勝・インカレ個人5位</td>
                    </tr>
                    <tr>
                        <th>2016</th><td>【女子】関カレ団体3位</td>
                    </tr>
                    <tr>
                        <th>2017</th><td>【女子】関カレ団体3位・インカレ団体3位</td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div id="welcome">
              <h3 id="newmates">新入部員・マネージャー募集中！</h3>
              <p>トライアスロンは年々レベルが上がってきているものの、まだまだ新興スポーツであり、 頑張れば学生の最高峰の大会であるインカレにも出場可能です。
              大学から競技を始めても　インカレに出場できることは、非常に魅力的ではないでしょうか？
              大学に入って何か新しいスポーツをやってみたいと思っている人や、 トライアスロンでインカレを目指したいという人など、トライアスロンをやってみたいという人を随時募集しています。</p>
              <p>「トライアスロンをやってみたいけど体力に自信ないし、私には絶対無理だよなぁ。」とやる前から諦めているあなた、そんなことはありません。
              必ずトライアスロンという競技を楽しめることを保証します。 筑波大学トライアスロン部とは強い人のためだけの部ではなく、部員みんなで強くなろうという団体です。
              少しでもトライアスロンに興味があり、やってみたいと思っている人は、とりあえず我らが筑波大学トライアスロン部に顔を出してみてください。</p>
              <p>また、「トライアスロンに興味はあるけどやるのはちょっと…」という人や、 トライアスロンを見てみたいという人、マネージャーをやってみませんか？
              部を陰で支えてくれる縁の下の力持ちを必要としています。 是非、部に顔を出してみて下さい。</p>
              <p>興味の有る方は、HP下部にある「お問い合わせ」から連絡をください！！いつでも歓迎です！！</p>
          </div>
      </div>
    </div>
    <div class="sidemenu"> <!--右側のバー。SNS-->
      <div class="heading">
        <h2> <!--タイトル-->
          メニュー
        </h2>
      </div>
      <h3><a href="#triathlon">
        トライアスロンとは
      </a></h3>
      <ul class="link">
        <li>
          <a href="about.html#distance">
            種類と距離
          </a>
        </li>
      </ul>
      <h3><a href="#tsukutora">
        つくトラについて
      </a></h3>
      <ul class="link">
        <li>
          <a class="link" href="#scedule">
            練習日程
          </a>
        </li>
        <li>
          <a class="link" href="#place">
            練習場所
          </a>
        </li>
        <li>
          <a class="link" href="#record">
            活動実績
          </a>
        </li>
        <li>
          <a class="link" href="#newmates">
            新入部員・マネージャー募集中！
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
