<% @page_title = "MT資料" %>
<div class="contents">
	<div class="heading">
		<h1>MT資料・議事録
		</h1>
	</div>
	<table class="document">
		<caption class="title">2016年9月〜</caption>
		<thead>
			<tr>
				<th colspan="2">月</th>
				<th>カレンダー</th>
				<th>MT資料</th>
				<th>関連資料</th>
				<th>議事録</th>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan="6"><a href="../../document/files_16/16-17.pdf">16-17年間資料</a></td></tr>
			<tr>
				<th rowspan="2">16/09</th>
				<th>選手スタッフ</th>
				<td rowspan="2"><a href="../../document/files_16/16_10_schedule_2.pdf" class="table_box">10月カレンダー<br>(Ver.2)</a></td>
				<td>======</td>
				<td>======</td>
				<td>======</td>
			</tr>
			<tr>
				<th>みんなのMT</th>
				<td><a href="../../document/files_16/16_09_2.pdf" class="table_box">資料</a></td>
				<td><a href="../../document/files_16/16_09_2_1.pdf" class="table_box">参考資料(前回MTのまとめ)</a></td>
				<td><a href="../../document/only/files_16/16_09_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">16/10</th>
				<th>選手スタッフ</th>
				<td rowspan="2"><a href="../../document/files_16/16_11_schedule_3.pdf" class="table_box">11月カレンダー<br>(Ver.3)</a></td>
				<td>======</td>
				<td><a href="../../document/files_16/16_10_1_1.pdf" class="table_box">渡良瀬スプリントの日程等</a></td>
				<td><a href="../../document/only/files_16/16_10_1_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th>みんなのMT</th>
				<td>======</td>
				<td><a href="../../document/files_16/16_10_2_1.pdf" class="table_box">スプリント参考資料</a></td>
				<td><a href="../../document/only/files_16/16_10_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">16/11</th>
				<th>選手スタッフ</th>
				<td rowspan="2"><a href="../../document/files_16/16_12_schedule_2.pdf" class="table_box">12月カレンダー<br>(Ver.2)</a></td>
				<td><a href="../../document/files_16/16_11_1.pdf" class="table_box">選手スタッフMT</a></td>
				<td>======</td>
				<td>======</td>
			</tr>
			<tr>
				<th>みんなのMT</th>
				<td><a href="../../document/files_16/16_11_2.pdf" class="table_box">みんなのMT</a></td>
				<td><a href="../../document/only/files_16/16_11_2_1.pdf" class="table_box">スプリント会計資料＊</a></td>
				<td><a href="../../document/only/files_16/16_11_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">16/12</th>
				<th>みんなのMT</th>
				<td rowspan="2"><a href="../../document/files_16/17_01_schedule_2.pdf" class="table_box">1月カレンダー<br>(Ver.2)</a></td>
				<td><a href="../../document/files_16/16_12_1.pdf" class="table_box">みんなのMT</a></td>
				<td><a href="../../document/only/files_16/16_12_1_1.pdf" class="table_box">Calfman東北会計資料＊</a></td>
				<td><a href="../../document/only/files_16/16_12_1_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th>選手スタッフ</th>
				<td>=====</td>
				<td>=====</td>
				<td>=====</td>
			</tr>
			<tr>
				<th rowspan="2">17/01</th>
				<th>選手スタッフ</th>
				<td rowspan="2"><a href="../../document/files_16/17_02_schedule_2.pdf" class="table_box">2月カレンダー<br>(Ver.2)</a></td>
				<td>=====</td>
				<td>=====</td>
				<td>=====</td>
			</tr>
			<tr>
				<th>みんなのMT</th>
				<td><a href="../../document/files_16/17_01_2.pdf" class="table_box">みんなのMT</a></td>
				<td>=====</td>
				<td>=====</td>
			</tr>
			<tr>
				<th rowspan="2">17/02</th>
				<th>選手スタッフ</th>
				<td rowspan="2"><a href="../../document/files_16/17_03_schedule_3.pdf" class="table_box">3月カレンダー<br>
                          (確定版 Ver.2)</a></td>
				<td><a href="../../document/files_16/17_02_1.pdf" class="table_box">選手スタッフMT</a></td>
				<td>=====</td>
                      <td><a href="../../document/only/files_16/17_02_1_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th>みんなのMT</th>
				<td ><a href="../../document/files_16/17_02_2.pdf" class="table_box">みんなのMT</a></td>
				<td><a href="../../document/only/files_16/17_02_2_1.pdf" class="table_box">カーフマン北関東会計資料＊</a><br>
                          <a href="../../document/only/files_16/17_02_2_2.pdf">栃木記録会会計資料＊</a></td>
				<td><a href="../../document/only/files_16/17_02_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">17/03</th>
				<th>みんなのMT</th>
				<td rowspan="2"><a href="../../document/files_16/17_04_schedule_2.pdf" class="table_box">4月カレンダー<br>(確定版)</a></td>
				<td><a href="../../document/files_16/17_03_1.pdf" class="table_box">みんなのMT</a></td>
				<td>=====</td>
				<td><a href="../../document/only/files_16/17_03_1_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th>選手スタッフ</th>
				<td><a href="../../document/files_16/17_03_2.pdf" class="table_box">選手スタッフMT</a></td>
				<td>=====</td>
                      <td><a href="../../document/only/files_16/17_03_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">17/04</th>
				<th>みんなのMT</th>
				<td rowspan="2"><a href="../../document/files_16/17_05_schedule_2.pdf" class="table_box">5月カレンダー<br>(確定版)</a></td>
				<td><a href="../../document/files_16/17_04_1.pdf" class="table_box">みんなのMT</a></td>
				<td>=====</td>
				<td>=====</td>
			</tr>
			<tr>
				<th>選手スタッフ</th>
				<td>=====</td>
				<td>=====</td>
				<td>=====</td>
			</tr>
			<tr>
				<th rowspan="2">17/05</th>
				<th>みんなのMT</th>
				<td rowspan="2"><a href="../../document/files_16/17_06_schedule_2.pdf" class="table_box">6月カレンダー<br>(確定版)</a></td>
				<td><a href="../../document/files_16/17_05_1.pdf" class="table_box">みんなのMT</a></td>
				<td><a href="../../document/only/files_16/17_05_1_1.pdf" class="table_box">16年度決算及17年度予算＊</a><br>
                      <a href="../../document/only/files_16/17_05_1_2.pdf" class="table_box">17年度新歓決算＊</a><br>
                      <a href="../../document/files_16/SpringTimeTable.pdf" class="table_box">スプリング日程表</a></td>
				<td><a href="../../document/only/files_16/17_05_1_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th>練習MT</th>
				<td><a href="../../document/files_16/17_05_2.pdf" class="table_box">練習MT</a></td>
				<td>=====</td>
				<td><a href="../../document/only/files_16/17_05_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">17/06</th>
				<th>みんなのMT</th>
				<td rowspan="2"><a href="../../document/files_16/17_07_schedule_3.pdf" class="table_box">7月カレンダー<br>(確定版)</a></td>
				<td><a href="../../document/files_16/17_06_1.pdf" class="table_box">みんなのMT</a></td>
				<td><a href="../../document/only/files_16/17_06_1_1.pdf" class="table_box">ドーム社製品について＊</a></td>
                      <td>=====</td>
			</tr>
			<tr>
				<th>練習MT</th>
				<td><a href="../../document/files_16/17_06_2.pdf" class="table_box">練習MT</a></td>
				<td><a href="../../document/only/files_16/17_06_2_1.pdf" class="table_box">代表者会議における採決に関して＊</a></td>
				<td><a href="../../document/only/files_16/17_06_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">17/07</th>
				<th>みんなのMT</th>
				<td rowspan="2"><a href="../../document/files_16/17_08_schedule_2.pdf" class="table_box">8月カレンダー<br>(確定版 New!)</a></td>
				<td><a href="../../document/files_16/17_07_1.pdf" class="table_box">みんなのMT</a></td>
				<td><a href="" class="table_box"></a></td>
				<td>=====</td>
			</tr>
			<tr>
				<th>練習MT</th>
				<td><a href="../../document/files_16/17_07_2.pdf" class="table_box">練習MT</a></td>
				<td><a href="../../document/only/files_16/17_07_2_1.pdf" class="table_box">会計資料(スプリング・関カレ・館山下見)＊</a></td>
                      <td><a href="../../document/only/files_16/17_07_2_proceeding.pdf" class="table_box">議事録</a></td>
			</tr>
			<tr>
				<th rowspan="2">17/08</th>
				<th>みんなのMT</th>
				<td rowspan="2"><!--<a href="../../document/files_16/17_09_schedule.pdf" class="table_box">9月カレンダー</a>--></td>
				<td><a href="../../document/files_16/17_08_1.pdf" class="table_box">みんなのMT</a></td>
				<td><a href="" class="table_box"></a></td>
				<td><!--<a href="../../document/only/files_16/17_08_1_proceeding.pdf" class="table_box">議事録</a>--></td>
			</tr>
			<tr>
				<th>練習MT</th>
				<td><!--<a href="../../document/files_16/17_08_2.pdf" class="table_box">みんなのMT</a>--></td>
				<td><!--<a href="" class="table_box"></a>--></td>
				<td><!--<a href="../../document/only/files_16/17_08_2_proceeding.pdf" class="table_box">議事録</a>--></td>
			</tr>
		</tbody>
	</table>
	【注意】＊印のついている資料と議事録についてはIDとパスワードが必要です。
</div>
