<% @page_title = "OB/OG向けコンテンツ" %>
<div class="contents">
	<div class="heading">
		<h1>OB/OG用ページ</h1>
	</div>
  <div class="clearfix">
		<div class="box-wrapper low-height-box half-box">
			<%= link_to "#" do %>
				<h2 class="title">OB会HP</h2>
			<% end %>
    </div>
  </div>
</div>
