<% @page_title = "メンバー向けコンテンツ" %>
<div class="contents clearfix">
  <%= link_to "for_active_members", class: "topic active half-box" do %>
    <h1 class="title">部員の方へ</h1>
    <p class="desc">
      ミーティング資料<br>
      メンバー専用ページ<br>
      勉強会資料・データ集<br>
      練習ログ<br>
      その他
    </p>
  <% end %>
  <%= link_to "for_ob_members", class: "topic ob half-box" do %>
    <h1 class="title">OB・OGの方へ</h1>
    <p class="desc">
      OB・OG会HP
    </p>
  <% end %>
</div>
