<% @page_title = t('.title') %>
<div class="contents">
  <div class="heading">
    <h1><%= @page_title %></h1>
  </div>
  <%= render 'form', lab_practice_log: @lab_practice_log %>

  <%= link_to t('general.back'), lab_practice_logs_path, class: 'btn btn-default' %>
  <%= link_to t('general.show'), @lab_practice_log, class: 'btn btn-default' %>

</div>
