<% @page_title = "勉強会" %>
<div class="contents">
	<article>
		<div class="heading">
			<h1>つくトラ勉強会のページ</h1>
		</div>
		<h2>トライアスロン勉強会</h2>
		<p>
				運動生理学的な観点などから、トライアスロンを考察し、レースでのパフォーマンス向上を目指します。<br>
				※資料のDLはパスワードが必要です。
		</p>
		<div class="wrapper clearfix">
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第1回
										(<time class="date" datetime="2015-12-12">2015/12/12</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「持久力の科学」
								</div>
								<div class="list">
										<ul>
												<li>トライアスロンの始まり</li>
												<li>運動するためのエネルギー</li>
												<li>持久性スポーツの決定要因</li>
												<li>トレーニングの基礎</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_15_12.pptx">第1回勉強会資料</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第2回
										(<time class="date" datetime="2016-01-15">2016/01/15</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「Triathlon Anatomy」
								</div>
								<div class="list">
										<ul>
												<li>トライアスリートの身体組成</li>
												<li>筋肉について</li>
												<li>筋力トレーニング</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_16_01.pptx">第2回勉強会資料</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第3回
										(<time class="date" datetime="2016-02-13">2016/02/13</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「自転車の世界 Vol.1」
								</div>
								<div class="list">
										<ul>
												<li>自転車の変遷</li>
												<li>パーツについて</li>
												<li>ポジショニング</li>
												<li>空気抵抗</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_16_02.pptx">第3回勉強会資料</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第4回
										(<time class="date" datetime="2016-03-30">2016/03/30</time>)<br>※春合宿にて開催
								</h4>

						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「体力測定の意義を知る」
								</div>
								<div class="list">
										<ul>
												<li>持久力を規定する要因</li>
												<li>VO2Max/LT/経済性</li>
												<li>体力測定の方法</li>
												<li>体力測定結果の見方</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_16_03.pptx">第4回勉強会資料</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第5回
										(<time class="date" datetime="2016-06-14">2016/06/14</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「レースの準備」
								</div>
								<div class="list">
										<ul>
												<li>レースに向けての準備</li>
												<li>テーパリング</li>
												<li>ペース戦略</li>
												<li>エネルギー補給</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_16_06.pptx">第5回勉強会資料</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第6回
										(<time class="date" datetime="2016-07-10">2016/07/10</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「レースパフォーマンスを<br>高めるために vol.1」
								</div>
								<div class="list">
										<ul>
												<li>持久力を規定する要因</li>
												<li>パフォーマンスの最大化<br>戦略に関する要因</li>
												<li>ウェットスーツ</li>
												<li>ドラフティング</li>
												<li>ペーシング</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_16_07.pptx">第6回勉強会資料</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第7回
										(<time class="date" datetime="2016-08-11">2016/08/11</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「トライアスロンランのペース戦略」
								</div>
								<div class="list">
										<ul>
												<li>ランニングのペース戦略</li>
												<li>6種のペース戦略</li>
												<li>10000mTTのデータ分析</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_16_08.pptx">第7回勉強会資料(青柳分)</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第8回
										(<time class="date" datetime="2017-02-11">2017/02/11</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「『評価』の重要性 vol.1」
								</div>
								<div class="list">
										<ul>
												<li>レースの評価<br>(個人内比較・個人間比較)</li>
												<li>ランニングの画像分析</li>
												<li>ランパフォーマンスの指標<br>〜Stiffness〜</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_17_02.pptx">第8回勉強会資料</a>
								</div>
						</div>
				</div>
				<div class="box seminar">
						<div class="sub-heading">
								<h4>
										第9回
										(<time class="date" datetime="2017-03-31">2017/03/31</time>)
								</h4>
						</div>
						<div class="detail">
								<div class="theme">
										テーマ<br>
										「『評価』の重要性 vol.2」
								</div>
								<div class="list">
										<ul>
												<li>トレーニングの評価</li>
												<li>トレーニング配分</li>
												<li>強度域別トレーニング法</li>
												<li>その他トレーニング法</li>
										</ul>
								</div>
								<div class="doc">
										資料：<a href="../../document/only/seminar/seminar_17_03.pptx">第9回勉強会資料</a>
								</div>
						</div>
				</div>
		</div>
	</article>
</div>
