<ul class="horizontal-list">
  <li class="horizontal-item">
    <%= link_to t('general.contact'), "#" %>
  </li>
</ul>
<script>
  lastmodified()
</script>
<p class="copyright">© 2016-<%= Time.now.year %> Univ. of Tsukuba Triathlon team</p>
