<% @page_title = t('.title') %>
<div class="contents">
  <div class="heading">
    <h1><%= @page_title %></h1>
  </div>

  <%= render 'form', school: @school %>
  <%= link_to t('general.show'), @school, class: 'btn btn-default' %>
  <%= link_to t('general.back'), admin_schools_path, class: 'btn btn-default' %>

</div>
