// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../members";
.caution{
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}
